:root {

    /* Colors */
    --primary_color: #55f;
    --second_color: #5f5;

    /* Fonts */

}

html {
    font-size: 62.5%; /* font-size 1em = 10px on default browser settings */
}

body {
    font-size: 16px; /* e.g. 16px = 1rem  e.g.*/
    font-family: 'Montserrat', sans-serif;
}

.title-header {
    text-align: center;
    font-size: 2.5rem;
    color: var(--primary_color);
    font-weight: bold;
}

.contain-main-menu-bar {
    background: var(--second_color);
}

.main-menu-bar {
    padding: 0 25rem;
    display: flex;
    justify-content: space-between;
}

.main-menu-bar a {
    color: #fff;
    font-size: 1.6rem;
    text-decoration: none;
    padding: 2rem;
}

.main-menu-bar a:hover {
    background: #ff1;
    color: #000;
}

