:root {

    /* Colors */
    --primary_color: #55f;
    --second_color: #fa0;

    /* Fonts */

}

html {
    font-size: 62.5%; /* font-size 1em = 10px on default browser settings */
    box-sizing: border-box;
    min-width: 400px; /* The screen will have a minimum */
}

*, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-size: 16px; /* e.g. 16px = 1rem  e.g.*/
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to bottom grey 0%, to top white 100%); /* Colorful gradient for wallpaper */
}

h1 {
    font-size: 3.8rem;
    color: #000;
    font-weight: bold;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3.2rem;
}

h1, h2, h3 {
    text-align: center;
}

.container-main-menu-bar {
    background: var(--second_color);
}

.container {
    max-width: 120rem; /* the max size of the container will be 1200px = 120rem */
    margin: 0 auto;
}

.main-menu-bar {
    display: flex;
    flex-direction: column;
    /* align-items: center; /* centers only the content of the flex */
}

.main-menu-bar a {  
    display: block;
    text-align: center; /* centers the whole block */
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: 1rem;
}

.main-menu-bar a:hover {
    background: #333;
    color: #fff;
}

.container-image {
    position: relative; /* Space is conserved in the box */
    background-image: url(../images/ada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}

.imagen-ada {
    position: absolute; /* Space is not conserved in the box */
    background: #000B; /* B: transparency in hex - HEX: 0-9 and A - F */
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imagen-ada h2, .imagen-ada p { color: #fff;}

.my-location {
    display: flex;
    align-items: flex-end;
}

.botton-contact {
    background: darkblue;
    margin: 3rem 0;
    padding: 1.5rem;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    border-radius: .5rem;
    text-align: center;
    text-transform: uppercase;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 3rem;
}  

.my-services{
    background: #6495ed;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
}

.fill-circle{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: var(--second_color);
    margin: 0 auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-services section, h3, svg, p {
    text-align: center;
}

footer {
    margin: 0 auto;
    text-align: center;
}

/***** Media Queries - Resolutions per screen *****/


/* Mobile Phones */
@media (max-width: 400px) {

    .botton-contact {
        width: 90%;
    } 
}    

@media (min-width: 400px) {
    body {
        /* background: chocolate; */
    }

    .main-menu-bar {
        display: flex;
        flex-direction: column;
    }

    .botton-contact {
        width: 90%;
    }
}

/* Tablet */
@media (min-width: 768px) {

    body {
        /* background: violet; */
    }

    .main-menu-bar {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .botton-contact {
        width: auto;
    }
}

/* Laptop and PC */
@media (min-width: 1140px) {

    body {
        /* background: gray; */
    }

    .container {
        max-width: 100%; /* the max size 100% */
        margin: 0 auto;
    }

    .main-menu-bar {
        flex-direction: row;
        justify-content: space-evenly;
    }
}
