:root {

    /* Colors */
    --primary_color: #55f;
    --second_color: #fa0;

    /* Fonts */

}

html {
    font-size: 62.5%; /* font-size 1em = 10px on default browser settings */
}

body {
    font-size: 16px; /* e.g. 16px = 1rem  e.g.*/
    font-family: 'Montserrat', sans-serif;
}

.title-header {
    text-align: center;
    font-size: 3.8rem;
    color: var(--primary_color);
    font-weight: bold;
}

.container-main-menu-bar {
    background: var(--second_color);
}

.container {
    max-width: 120rem; /* the max size of the container will be 1200px = 120rem */
    margin: 0 auto;
}

.main-menu-bar {
    display: flex;
    flex-direction: column;
    /* align-items: center; /* centers only the content of the flex */
}

.main-menu-bar a {  
    display: block;
    text-align: center; /* centers the whole block */
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: 1rem;
}

.main-menu-bar a:hover {
    background: black;
    color: yellow;
}

.container-image {
    background-image: url(../images/ada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/***** Media Queries - Resolutions per screen *****/


/* Mobile Phones */
@media (min-width: 400px) {
    body {
        /* background: chocolate; */
    }

    .main-menu-bar {
        display: flex;
        flex-direction: column;
    }
}

/* Tablet */
@media (min-width: 768px) {

    body {
        /* background: violet; */
    }

    .main-menu-bar {
        flex-direction: row;
        justify-content: space-evenly;
    }

}

/* Laptop and PC */
@media (min-width: 1140px) {

    body {
        /* background: gray; */
    }

    .container {
        max-width: 100%; /* the max size 100% */
        margin: 0 auto;
    }

    .main-menu-bar {
        flex-direction: row;
        justify-content: space-evenly;
    }
}
